.homePage{
  background: url(bg.jpg) no-repeat;
}

.answerPage{
  background: url(bgAns.jpg) no-repeat;
}

.thankyouPage{
  background: url(bgthankyou.jpg)
}

.filterPage{
  background: url(bgthankyou.jpg);
}

.layer{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

div.header{
  background-color: rgba(256,256,256,0.7);
  height: 120px;
  margin-top: 0;
}

div.header .title{
  text-align: center;
  margin-top: auto;
  padding-top:10px;
  font-family: Rammetto One;
  font-size: 32px;
}

/* hr{
  position: absolute;
  width:40%;
  border: 10px solid;
  color: white;
} */

#pic{
  position: relative;
  margin: 100px auto 50px auto;
}

#askPic img, #answerPic img {
  width: 300px;
  border-radius: 30%;
}

.fname,.lname,.univ,.email{
  font-weight: bold;
  color: white;
  text-align: right;
}

.level{
  font-weight: bold;
  color: white;
  text-align: center;
}

.subject{
  font-weight: bold;
  color: white;
  text-align: center;
}


#fname,#lname,#univ,#subject,#email{
  padding: 5px;
  border: 20px;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  margin-top: 15px;
  font-family: "Helvetica Neue";
  font-size: 12pt;
  font-weight: bold;
  color: darkslategrey;
}

#subject{
  float: left;
  width: 50%;
}

#level{
  margin-top: 50px;
  color: white;
  text-align: center;
  vertical-align: bottom;
}

#filter{
  padding: 5px;
  border: 20px;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  font-family: "Helvetica Neue";
  font-size: 12pt;
  font-weight: bold;
  color: darkslategrey;
  width: 300px;
}

.filter{
  position: relative;
  left: 35%;
  margin-top: 10%;
}

.searchbar{
  width: 250px;
  margin-left: 10px;
}

.result{
  font-family: Kanit;
  font-weight: bold;
  font-size: 20px;
}

div.text td{
  color:darkslategrey;
}

.text{
  font-size: 24px;
  font-family: Kanit;
  color: white;
}

a:visited{
  color:white;
}

.more,.button{
  margin: 30px;
  text-align:center;
}

.submit,.clear{
  font-family: Kanit;
  text-align:center;
  height: 35px;
  border-radius: 20px;
  background-color: white;
}

.thankyou{
  font-size: 36px;
  font-family: Lobster;
  position: relative;
  top: 300px;
}

.back{
  color: white;
  top: 20px;
  position: relative;
  top: 320px;
}

.back2{
  color: white;
  /* top: 20px; */
  position: relative;
  /* bottom: 20px; */
}

.back a{
  font-style: italic;
  color:blue;
}

footer{
  color: white;
  position: absolute !important;
  bottom: 10px;
}
